// Colors
$color-white: #fff;
$color-black: #292e3d;

$color-bg: #f8faff;

$color-transperent: rgba(255, 255, 255, 0);
$color-white-transperent: rgba(255, 255, 255, 0.6);
$color-black-transperent: rgba(0, 0, 0, 0.6);

$color-gray: #7884a5;
$color-gray-dark: #525c7a;
$color-gray-medium: #a2acc7;
$color-gray-light: #c9d0e1;
$color-green: #4fba67;
