@import 'base';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: $color-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto 57px auto;
  padding: 0 60px;
  @include col;
  justify-content: space-between;
}
