@import '../sass/base';

.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-bottom: 54px;
  @include font-size(72px, 70px);
  font-weight: 700;
  color: $color-gray;
}

.subheader {
  max-width: 860px;
  width: 100%;
  @include font-size(24px, 32px);
  font-weight: 400;
  color: $color-black;
}
