@import '../../sass/base';

.btns {
  margin-top: 12px;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: block;
  background-color: $color-transperent;
  border: none;
  cursor: pointer;
  height: auto;
  width: auto;

  svg {
    position: relative !important;
    fill: $color-gray-light;
    stroke: $color-gray-light;
    display: block;

    transition: fill ease 0.2s;
    transition: stroke ease 0.2s;
  }

  &:hover svg {
    fill: $color-gray-medium;
    stroke: $color-gray-medium;
  }
}
